:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 2rem;
  color: var(--main-color);

  --main-color: #432f21;
  --hover-color: #ffffff;
  --animation: 0.4s ease-in-out;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  color: currentColor;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background-color: transparent;
  padding: 12px 24px;
  min-width: 122px;
  font-size: 20px;
  font-weight: 700;
  transition: color var(--animation), background-color var(--animation);
}

button:hover {
  color: var(--hover-color);
  background-color: var(--main-color);
}
